@use "../custom" as *;
@use "../components/mixins" as *;

.custom-navbar{
    @include gradient;
    .nav-link{
        @include media-breakpoint-down(lg){
            padding: 0 0.5rem !important;   
        }
        padding: 0 1rem !important;
        color: white !important;
        font-weight: 500;
        text-transform: capitalize;
        &:hover{
        }
    }
}   